
.f-row {
    display: flex;
}

.f-col {
    display: flex;
    flex-direction: column;

    .v-center {
        align-items: center;
    }

    .h-center {
        justify-content: center;
    }

    &.vh-center {
        align-items: center;
        justify-content: center;
    }
}

.flex-grow1 {
    flex-grow: 1;
}

.gap {
    gap: 0.75rem;
}

.align-self-center {
    align-self: center;
}