
<h2>Module Discovery</h2>

<button type="button" class="btn btn-primary" (click)="onBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<button type="button" class="btn btn-primary" (click)="onDiscovery()"><i class="fa fa-search" aria-hidden="true"></i> Discovery</button>
<hr class="my-2">

<div class="card">
    <div class="card-header">
        <strong>Module</strong>
    </div>
    <div class="card-block">
        <div class="form-group row">
            <label class="col-2 col-form-label" for="uid">UID</label>
            <div class="col-2 form-control">{{model?.UID}}</div>

            <label class="col-2 col-form-label" for="alias">Alias</label>
            <div class="col-2 form-control">{{model?.alias}}</div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="uid">Type</label>
            <div class="col-2 form-control">
                <enumtext *ngIf="model" disabled [enum]="moduleType" [value]="model.type"></enumtext>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label" for="version">Firmware version</label>
            <div class="col-2 form-control">{{model?.version}}</div>
        </div>
    </div>
</div>

<div *ngIf="model">
    <div class="card">
        <div class="card-header">
            <strong>Wifi Configuration</strong>
        </div>
        <div class="card-block">
            <div class="form-group row">
                <label class="col-2 col-form-label" for="wifiname">Name</label>
                <input class="col-6 form-control" type="text" id="wifiname" placeholder="Name" [(ngModel)]="model.wifiname" name="wifiname">
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label" for="wifipass">Password</label>
                <input class="col-6 form-control" type="password" id="wifipass" placeholder="Password" [(ngModel)]="model.wifipass" name="wifipass">
            </div>
            <div class="form-group row">
                <button type="button" class="col-2 btn btn-outline-success" (click)="onApply()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Apply</button>
                <button type="button" class="col-2 btn btn-outline-warning" (click)="onReset()"><i class="fa fa-retweet" aria-hidden="true"></i> Reset</button>
            </div>
        </div>
    </div>
</div>