<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title size="large">{{moduleService.selected!.alias}}</ion-title>
        </ion-toolbar>
    </ion-header>

<!-- <ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <h1>{{moduleService.selected!.alias}}</h1>
    </ion-col>
    <ion-col size="auto">
      <ion-button color="secondary" shape="round" expand="block" (click)="refresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
</ion-grid> -->
<ion-list>
    <ion-item>
        <ion-label (click)="lightClick()">Light</ion-label>
        <ion-toggle [(ngModel)]="model.light" (ngModelChange)="lightChange()"></ion-toggle>
    </ion-item>
  
    <ion-item>
        <ion-label (click)="fanClick()">Fan</ion-label>
        <ion-toggle [(ngModel)]="model.fan" (ngModelChange)="fanChange()"></ion-toggle>
    </ion-item>
  
    <ion-item>
        <ion-label (click)="fanUpClick()">Orientation</ion-label>
        <ion-toggle [(ngModel)]="model.fanUp" (ngModelChange)="fanUpChange()"></ion-toggle>
    </ion-item>
</ion-list>
<ion-list>
    <ion-radio-group [(ngModel)]="model.fanSpeed" (ngModelChange)="fanSpeedChange()">
      <ion-list-header>
        <ion-label>Fan Speed</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Minimum</ion-label>
        <ion-radio slot="start" [value]="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Medium</ion-label>
        <ion-radio slot="start" [value]="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Maximum</ion-label>
        <ion-radio slot="start" [value]="2"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="refresh-outline" (click)="refresh()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>