
<h1>Editor Rbg Light</h1>

<h4>{{header}}</h4>

<button type="button" class="btn btn-primary" (click)="onBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<button type="button" class="btn btn-primary" (click)="onApply()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Apply</button>

<div class="content" *ngIf="isStandard">
    <div class="form-group row">
        <label class="col-2 col-form-label" for="value">Value</label>
        <div class="col-6">
            <input class="form-control" type="text" id="value" placeholder="Value" [value]="color"
                [style.background]="color" 
                [(colorPicker)]="color"
                [cpAlphaChannel]="'disabled'"
                [cpOutputFormat]="'rgba'"
                [cpPosition]="'bottom'">
        </div>
    </div>
</div>

<div class="content" *ngIf="isModule">
    <ngb-tabset [activeId]="moduleTab" (tabChange)="onModuleTabChange($event)">
        <ngb-tab title="Manual" id="byManual">
            <template ngbTabContent>
                <div class="content">
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="value">Value</label>
                        <div class="col-6">
                            <input class="form-control" type="text" id="value" placeholder="Value" [value]="color"
                                [style.background]="color" 
                                [(colorPicker)]="color"
                                [cpAlphaChannel]="'disabled'"
                                [cpOutputFormat]="'rgba'"
                                [cpPosition]="'bottom'">
                        </div>
                    </div>
                </div>
            </template>
        </ngb-tab>
        <ngb-tab title="Standard" id="byStandard">
            <template ngbTabContent>
                <div class="form-group row">
                    <label class="col-2 col-form-label" for="modValueStan">Standard</label>
                    <select class="custom-select col-sm-6" [ngModel]="this.module.state.standardId" name="sel">
                        <option *ngFor="let stan of standardList" [value]="stan.standardId" [label]="stan.name"></option>
                    </select>
                </div>
            </template>
        </ngb-tab>
    </ngb-tabset>
</div>