<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="/home">Auto Home</a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav pull-xs-right">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/area" class="nav-link">Area</a>
            </li>
            <li ngbDropdown class="nav-item dropdown" routerLinkActive="active">
                <a href="javascript:void(0);" ngbDropdownToggle class="nav-link dropdown-toggle" id="dataDropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">Data</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dataDropdown">
                    <a routerLink="/data/module" class="dropdown-item">Module</a>
                    <a routerLink="/data/standard" class="dropdown-item">Standard</a>
                    <a routerLink="/data/area" class="dropdown-item">Area</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>